{%extends "registration/base.html"%}
{% load bootstrap3 %}

{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-3 col-lg-3"></div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default panel-auth">

        <div class="panel-heading panel-auth">
          <h3 class="text-center">Sign In</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

          <em class="auth-redir">Don't have an account? <a href="/accounts/register/">Register here</a></em>
        </div>
      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-3 col-lg-3"></div>
  </div>
</div>

{% endblock %}