{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}


{% block content %}
<div class="container-fluid home-container">
    <h1>Patients</h1>   
</div>
<div class="container-fluid table-container">
    <table class="table">
        <thead>
            <tr>
            <th>Patient ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Injury</th>
            <th>Status</th>
            </tr>
            {% for patient in patients %}
            <tr>
            <a href="{% url 'patient' patient.id %}">
                <th>{{patient.identifier}}</th>
                <th>{{patient.first_name}}</th>
                <th>{{patient.last_name}}</th>
                <th>{{patient.injury}}</th>
                <th>{{patient.status }}</th>
            </a>
            </tr>
            {% endfor %}
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
{% endblock %}