{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
<div class="container-fluid home-container">
    {% if patient.first_name %}
    <h2>{{patient.first_name}}</h2> <h2>{{patient.last_name}}</h2> 
    {% else %}
    <h3>PATIENT ID</h3> <h4>{{patient.identifier}}</h4>
    {% endif %}
    <h3>SINCE</h3> <h4>{{patient.date_admitted}}</h4> <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"><i class="fa fa-user-plus"></i></button>
</div>
<div class="containers">
    <div class="panel patient-info">
        <div class="panel-header">
            <i class="fa fa-vcard-o"></i> <h2>Base Info</h2>
        </div>
        <div class="panel-body">
            <h3>Gender</h3> <h4>{{patient.gender}}</h4>
            <h3>Age</h3> <h4></h4>
            <h3>Date of Birth</h3> <h4>{{patient.dob}}</h4> 
            <h3>Phone Number</h3> <h4>{{patient.phone_number}}</h4>
            <h3>Email</h3> <h4>{{patient.email}}</h4>
        </div>
    </div>
    <div class="panel patient-notes">
        <div class="panel-header">
            <i class="fa fa-sticky-note-o"></i> <h2>Notes</h2>
        </div>
        <div class="panel-body">
            <h3>Blood Types</h3> <h4>{{patient.blood_type}}</h4>
            <h3>Weight</h3> <h4>{{patient.weight}}</h4>
            <h3>Height</h3> <h4>{{patient.weight}}</h4>
            <h3>Occupation</h3> <h4>{{patient.occupation}}</h4>
        </div>
    </div>
</div>

<!-- Update patient info modal -->
<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Update Patient Info</h4>
            </div>
            <div class="modal-body">
                {% if form.errors %}
                  <p> Password or Username is incorrect </p>
                {% endif %}
          
                    <form  action="" method="post">
                      {% csrf_token %}
                      {% bootstrap_form form%}
          
                      <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-sm" value="Add">
                      </div>
          
                      <input type="hidden" name="next" value="{{next}}">
          
                    </form>
          
                  <!-- </div> -->
                </div>
          
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
      </div>
      </div>
{% endblock %}